In [14]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import statsmodels as sm
from statsmodels.stats.weightstats import ttest_ind

data = pd.read_csv('labor.txt', sep='\s+')
data.head()

<>:9: SyntaxWarning: invalid escape sequence '\s'
<>:9: SyntaxWarning: invalid escape sequence '\s'
C:\Users\mathi\AppData\Local\Temp\ipykernel_6336\3579708595.py:9: SyntaxWarning: invalid escape sequence '\s'
  data = pd.read_csv('labor.txt', sep='\s+')

           City  x1972  x1968
0          N.Y.   0.45   0.42
1          L.A.   0.50   0.50
2       Chicago   0.52   0.52
3  Philadelphia   0.45   0.45
4       Detroit   0.46   0.43

# Exercise 1

In [15]:
stats.ttest_ind(a=data['x1972'], b=data['x1968'], equal_var=True)

TtestResult(statistic=1.4958516232927113, pvalue=0.1434082480427441, df=36.0)

# Exercise 2

In [17]:
stats.ttest_rel(a=data['x1972'], b=data['x1968'])

TtestResult(statistic=2.457703815601802, pvalue=0.024352597586836344, df=18)

# Exercise 3

In [21]:
np.var(a=data['x1972']), np.var(a=data['x1968'])

(0.00474792243767313, 0.004379501385041552)

Not equal variance, therefore paired t-test is better than pooled, since pooled assumes equal population variance

# Exercise 4

In [22]:
data['x1972'].mean() - data['x1968'].mean()

0.033684210526315816